#root{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.yellow{
    display: flex;
    height: 34%;
    width: 99vw;
}
.my-yellow{
    width: 50vw;
    height: 32vh;
    background-color: yellow;
    
    margin: 10px;
}
.my-yellow:last-child{
    margin-right: 0;
}
.red{
    width: 99vw;
    height: 34%;
   

}
.my-red{
    width: 99vw;
    height: 33vh;
    background-color: red;
    margin: 10px;
}

.blue{
    display: flex;
    width: 100vw;
    height: 34%;
}
.my-blue{
    width: 33vw;
    height: 33vh;
    background-color: blue;
    margin: 10px;
    
}
@media only screen and (max-width:320px) {
    .blue{
        display:flex ;
        flex-direction: column;
        
    }
    .my-blue{
        width: 100vw;
        height: 15vh;
        background-color: blue;
        margin: 10px;
        flex-direction:column;
    }
    #block{
        display: none;
    }
    .yellow{
        display: flex;
        flex-direction: column;
    }
    .my-yellow{
        width: 100vw;
        height: 15vh;
    }
    
}
@media screen and (max-width:768px) and (min-width:320px){
    .blue{
        display:flex ;
        
        flex-direction: column;
    } 
    .my-blue{
        width: 100vw;
        height: 15vh;
        background-color: blue;
        margin: 10px;
        
    }
}
